* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #FAF0E6;
    width: 100%;
    height:auto;
}

a{
    color:inherit;
    text-decoration: none;
}

noscript {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    background-color: yellow;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

noscript:target {
    scroll-margin-top: 100px;
}

noscript > * {
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0,0,0,3);
}

noscript > h1 {
    font-size: 2em;
    box-shadow: none;
}

noscript > a {
    font-size: 1.2em;
    text-decoration: none;
    background-color: orange;
    width: 30%;
}

noscript > form {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 10px;
    margin-bottom: 5px;
}

noscript > form:hover {
    transform: scale(1.2);
}


/*----------------------------MAY BE REMOVED------------------------------------*/

/*Warning window that pops up when a setting or stock is wrongfully configurec*/
#warning_window {
    display: grid;
    background-color: #810020;
    z-index: 2;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
        "title"
        "description"
        "buttons";
    grid-template-rows: auto auto auto;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#warning_window h2 {
    grid-area: title;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#warning_window p {
    grid-area: description;
    margin: 0;
    text-align: center;
    font-size: 1em;
    max-width: 80%;
}

#buttons {
    grid-area: buttons;
    display: flex;
    gap: 20px;
}

#buttons button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #C9E4CA;
    transition: background-color 0.2s, color 0.2s;
}

#buttons button:hover{
    transform: scale(1.05);
    background-color: #C9E4CA;
    color: white;
}

#warning_window > *:hover{
    cursor: pointer;
}

/*--------------------------------------------------------------------*/

nav{
    position:sticky;
    width: 100%;
    min-height: 60px;
    display: grid;
    background-color: #C0D6DF;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 2rem;
    grid-template-rows: 100%;
    grid-template-columns: 20% 60% 20%; 
    grid-template-areas: 
    "nav_button_wrapper nav_title nav_searchbar";
    justify-items: center;
}

.nav_button_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-area: nav_button_wrapper;
    width: max-content;
    margin-left:30px;
}

/*FIX*/
.nav_button_wrapper > * {
    flex: 1 1 auto;
    min-width:0;

    background-color: #4F6D7A;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
}

.nav_button_wrapper > *:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/*--------------------------------------------------------------------*/

.general_wrapper{
    position:relative;
    display: inline-block;
}

.general_wrapper:hover #sub_stock_menu {
    display: flex;
}

/*Restrict font size*/
#sub_stock_menu {
    all: inherit;
    display: none;
    position: absolute;
    background-color: #4F6D7A;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    gap: 5px;
    left: 0px;
    right:0px;
    top: 0px;
}

#stock_map_settings{
    position: sticky;
    top:0;
    background-color: blueviolet;
}

/*----------------------------------------------------------------------------*/
.general_wrapper:hover #sub_setting_menu{
    display:flex;
}

.setting{
    font-family: "normal";
}

#sub_setting_menu {
    all: inherit;
    display: none;
    position: absolute;
    background-color: #4F6D7A;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    gap: 5px;
    left: 0px;
    top: 0px;
}

#socials_menu{
    all: inherit;
    display: none;
    position: absolute;
    background-color: #4F6D7A;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    gap: 5px;
    left: 0px;
    top: 0px;
}

#nav_title {
    font-size: 2.5em;
    text-align: center;
    flex: 1;
    grid-area: nav_title;
}

#nav_title:hover{
    cursor: pointer;
}

#nav_search_bar {
    font-size: 1.2em;
    padding: 5px 10px;
    width: 200px;
    grid-area: nav_searchbar;
}

.stock_blocks {
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-template-areas: 
    "stock_block_1 stock_block_2 stock_block_3";
}

.stock_row{
    display:flex;
    flex-direction: column;
}


.stock_block{
    width: 100%;
    display: flex;
    font-size: 1.2em;
    flex-direction: row;
    align-items:center;
    background-color: #C0D6DF;
    padding: 10px;
}

.stock_block h3 {
    color: #4A6FA5;
}

.stock_block span {
    width: 80%;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #DBE9EE;
}

img{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}

#full_stock_wrapper{
    display:flex;
    flex-direction:column;
    height:100%;
}

#stock_map_wrapper{
    display:flex;
    height: 97vh;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
}

#stock_map_ui{
    background-color: black;
    width: 70%;
    height: auto;
}

#media_items{
    height: 100%;
    width:30%;
    display:flex;
    flex-direction:column;
    margin-left: 10px;
    margin-right: 10px;
}

.media{
    display:flex;
    background-color: #8CA4AE;
    flex-direction:column;
    width: 100%;
    height: 25%;
    margin-bottom: auto;
    margin-top: auto;
    display:flex;
}

.media > * {
    margin-right:10px;
    margin-left:10px;
}

.media:hover{
    transform: scale(1.05);
    cursor:pointer;
}

.social_media_title_class {
    width:60%;
    height: 20%;
    font-size: 1.5em;
}

.social_media_text_class {
   background-color:#7A9DAF;
   margin-top:5px;
   height:70%;
   border-radius:5px;
}

.social_media_post_eval_class {
    margin-top:5px;
    color:#DBE9EE;
}

footer{
    margin-top: 20px;
    background-color:#DBE9EE;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size: 2.0em;
    margin-top: 10px;
}

footer > * {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

footer > * :hover {
    transform: scale(1.05);
    cursor:pointer;
}

/*-------------------Responsive design------------------------*/

/*Ipad mode*/
@media only screen and (max-width: 800px) {
    #nav_button_wrapper{
        margin-left:0;
    }

  .stock_blocks{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        height:500px;
        margin-top:10px;
        margin-bottom:10px;
    }

    .stock_row{
        margin-top:0px;
        margin-bottom:0px;
        width:80%;
    }

    /*Makes it so that the stock ui goes ontop and the comments on the bottom*/
    #stock_map_ui{
        width:100%;
    }

    #media_items{
        width:auto;
        height:130%;
        margin-top:10px;
        margin-bottom:10px;
    }

    .media{
        align-self: center;
        height: 40%;
        width: 100%;
        margin-top:10px;
        margin-bottom:10px;
    }

    .media > * {
        margin-top:1px;
        margin-bottom:3px;
        margin-right:10px;
        margin-left: 10px;
    }

    #stock_map_wrapper {
        height: 150vh;
        flex-direction: column;
    }

    #stock_map_ui {
        height: 1500px;
    }

    nav {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 100%; 
        grid-template-areas: 
        "nav_button_wrapper" 
        "nav_title"
        "nav_searchbar";
    }
}

/*Mobile mobde*/
@media only screen and (max-width: 500px) {
    

    #media_items{
        width:auto;
        height:130%;
        margin-top:10px;
        margin-bottom:10px;
    }

    .nav_button_wrapper{
        margin-left:0;
    }

    #stock_map_ui{
        width:100%;
    }

    .stock_blocks{
        height:750px;
        margin-bottom:100px;
        margin-top:20px;
    }

    .stock_row{
        height:30vh;
    }

    .stock_block{
        margin-bottom:10px;
        margin-top:10px;
    }
}